<!DOCTYPE html>
<html>

<head>
    <title>kitty</title>
</head>
<style>
input {
    -webkit-box-shadow: 0 0 0 400px #E8ECED inset!important;
    -webkit-text-fill-color: #666666!important;
    background-color: #fff //设置字体颜色
}
</style>

<body>
    <h1>Index</h1>
    <form action="/signin" method="post">
        <p>Name:
            <input name="name" value="koa">
        </p>
        <p>Password:
            <input name="password" type="password" autocomplete="on">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>

</html>